/node_modules
/public/hot
/public/storage
/public/assets/
/public/uploads/
/public/fonts/
/public/mix-manifest.json
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer.phar
.env
.DS_Store
Thumbs.db
.sass-cache/
package-lock.json
composer.lock