$normal_background_color: #fffffb
$table_color: #b5caa0
$logo_color: #fffffb
$big_word: 24px
$date_box: 6%
$admin_btn_width: 100px
$font-family : 'PingFangTC', 微軟正黑體, 'Microsoft JhengHei', sans-serif
$chloe_like: 0 2px 27px 0 rgba(55, 46, 24, 0.18), 0 2px 10px 0 rgba(55, 41, 24, 0.15);

//nav
$nav_width: 15%
$nav_item_width: 250px
// $nav_color: #d7c4bb
$nav_color: #535953
$nav_item_width: 250px
$dark_bg_color: #373C38

//width
$content_width: 85%