$normal_background_color: #fffffb
// $table_shopY_color: #b5caa0
$logo_color: #fffffb
$big_word: 24px
$date_box: 6%
$admin_btn_width: 100px
$font-family : 'PingFangTC', 微軟正黑體, 'Microsoft JhengHei', sans-serif
$chloe_like: 0 2px 27px 0 rgba(55, 46, 24, 0.18), 0 2px 10px 0 rgba(55, 41, 24, 0.15);

//table
$table_shopY_color: #b5caa0
$table_shopA_color: #81C7D4
$table_default_color: #F596AA

//nav
$nav_width: 15%
$nav_item_width: 250px
// $nav_color: #d7c4bb
// $nav_color: #535953
$nav_item_width: 250px
$dark_bg_color: #373C38

$nav_shopY_color_light: #535953
$nav_shopY_color_dark: #373C38
$nav_shopA_color_light: #2E5C6E
$nav_shopA_color_dark: #0F2540

$mobile_nav_height: 80px

//width
$content_width: 85%
$mobile_content_margin_top: 90px

//color
$lack_human_color: #c62f2f
$lack_human_color_o: rgba(198, 47, 47 , .5)

$Chloe_color: #e2ce73
$Chloe_color_o: rgba(226, 206, 115 , .5)

$Kelly_color: #5b9bc6
$Kelly_color_o: rgba(91, 155, 198 , .5)

$Johnny_color: #7b5bc6
$Johnny_color_o: rgba(123, 91, 198 , .5)

$Carol_color: #14399e
$Carol_color_o: rgba(20, 57, 158 , .5)

$Nicole_color: #c1630b
$Nicole_color_o: rgba(193, 99, 11 , .5)

$Corn_color: #58e2ab
$Corn_color_o: rgba(88, 226, 171 , .5)

$綿綿_color: #FBE251
$綿綿_color_o: rgba(251, 226, 81 , .5)

$Green_color: #86C166
$Green_color_o: rgba(134, 193, 102 , .5)

$Cindy_color: #006284
$Cindy_color_o: rgba(0, 98, 132 , .5)
