@import 'give_shift'
@import 'variables'

body
    background-color: $normal_background_color

// #nav
//     width: $nav_width
//     position: fixed
//     heigth: 100vh
//     top: 0
//     text-align: center
//     background-color: $nav_color
//     // z-index: 2
//     box-shadow: $chloe_like


//     a, ul
//         display: inline-block
//         // height: $nav_height
//         width: $nav_item_width
//         font-size: $big_word
//         // line-height: $nav_height
//         background-color: $nav_color
//         color: $normal_background_color
//         font-family: $font-family

//     a
//         text-decoration: none

//     ul
//         list-style: none
//         margin-bottom: 0
//         padding-left: 0
//         cursor: -webkit-grab
//         cursor: grab

//         li
//             width: $nav_item_width
//             cursor: -webkit-grab
//             cursor: grab

//         .expand_item
//             float: left

//         // .hidden
//         //     display: none

//     .admin_btn
//         position: absolute
//         right: 0
//         width: $admin_btn_width
//         background-color: $nav_color

//         li
//             width: $admin_btn_width
//             background-color: $nav_color

//             a
//                 width: $admin_btn_width
//                 background-color: $nav_color

#front_container
    h1
        text-align: center
        padding: 30px
        // background-color: rgb(245, 245, 220)
        color: #724938
        margin-top: 0
        font-family: $font-family

        span
            margin-right: 10px
            font-family: $font-family

            &:first-child
                margin-right: 0

            &:last-child
                margin-right: 0

        .current_month
            display: inline-block
            width: 40px
            height: 40px
            border-radius: 999em
            background-color: red
            color: $normal_background_color
            font-family: $font-family

    .hidden
        display: none

    #nav
        width: $nav_width
        position: fixed
        height: 100vh
        top: 0
        text-align: left
        background-color: $nav_color
        box-shadow: $chloe_like

        .logo
            margin: 15% auto
            border: 4px solid $logo_color
            border-radius: 4px
            display: block
            width: 77px
            height: 77px
            line-height: 63px
            text-align: center
            font-size: 40px
            color: $logo_color
            font-weight: bold
            background-color: $nav_color
            padding-left: 0

        a, ul
            display: inline-block
            width: 100%
            font-size: 16px
            font-weight: bold
            padding-left: 24%
            background-color: $nav_color
            color: $normal_background_color
            font-family: $font-family

        a
            text-decoration: none
            padding-top: 6px
            padding-bottom: 6px

        ul
            list-style: none
            margin-bottom: 0
            padding-left: 0
            cursor: -webkit-grab
            cursor: grab

            li
                width: 100%
                padding-top: 6px
                padding-bottom: 6px
                padding-left: 24%
                cursor: -webkit-grab
                cursor: grab
                background-color: $dark_bg_color

                &:first-child
                    background-color: $nav_color

            .expand_item
                float: left
                padding-bottom: 0
                a
                    padding-left: 0
                    background-color: $dark_bg_color

        .log-out, .log-in
            position: absolute
            text-align: center
            padding-left: 0
            background-color: $dark_bg_color
            padding-bottom: 20px
            bottom: 0

    #content_box
        width: $content_width
        margin-left: $nav_width
        padding: 0 20px

        .choose_month
            height: 70px
            width: 100%
            background-color: #FEDFE1
            text-align: center

        .row
            padding: 0px


            .table_box
                padding-left: 1%
                padding-right: 1%
                width: 49%
                display: inline-block

            .table
                border: 3px solid $table_color
                box-shadow: $chloe_like

                thead
                    tr
                        background-color: $table_color

                        .name
                            width: 50px

                            a
                                color: $normal_background_color
                                font-family: $font-family
                        
                        .time
                            width: auto
                            text-align: center

                            strong
                                font-size: $big_word
                                color: $normal_background_color
                                font-family: $font-family

                            span
                                display: none

                tbody
                    tr
                        td
                            &:first-chiild
                                padding-right: 0

                        .show_time, .time_title
                            padding-top: 8px
                            padding-bottom: 2px

                            div
                                width: $date_box
                                padding-bottom: $date_box
                                display: inline-block
                                text-align: center
                                font-size: 18px
                                font-family: $font-family

                            .active
                                background-color: #88a066

                        .show_time
                            div
                                border: 1px solid #cdcdcd

                        .lack_human
                            .active
                                background-color: #c62f2f

                        .Chloe
                            .active
                                background-color: #e2ce73

                        .Kelly
                            .active
                                background-color: #5b9bc6

                        .Johnny
                            .active
                                background-color: #7b5bc6

                        .Carol
                            .active
                                background-color: #14399e

                        .Nicole
                            .active
                                background-color: #c1630b

                        .Corn
                            .active
                                background-color: #58e2ab

        #input_edit
            form
                padding-top: 0
                width: 100%

                .edit_setting_box
                    border: none

                input[type="submit"]
                    float: right
                    margin-top: 20px
                    background-color: $dark_bg_color
                    color: #ffffff
                    border-radius: 4px
                    padding: 10px
                    width: 150px
                    font-family: $font-family

        #setting_form
            label
                font-size: 30px
                margin-bottom: 0
                vertical-align: top
                font-family: $font-family

            input[type="submit"], select
                height: 42px
                line-height: 42px
                font-family: $font-family

            select
                width: 100px
                display: inline-block
                margin: 0 20px
                padding-left: 10px

            input[type="submit"]
                padding-top: 0

@media screen and (max-width: 1024px)
    #front_container
        #content_box
            .row
                .table
                    tbody
                        tr
                            .show_time, .time_title
                                padding-top: 14px

@media screen and (max-width: 768px)
    $nav_width: 20%
    $content_width: 80%

    #front_container
        #nav
            width: $nav_width

        #content_box
            width: $content_width
            margin-left: $nav_width

            .row
                .table_box
                    width: 100%

                .table
                    tbody
                        tr
                            .show_time, .time_title
                                padding-top: 14px

            #setting_form
                label
                    font-size: 20px

