.table_shopY
    .table
        border: 3px solid $table_shopY_color
        thead
            tr
                background-color: $table_shopY_color
    .month_box
        border: 5px solid $table_shopY_color
        .per_day, .black_day
            border: 1px solid $table_shopY_color
            p
                &:first-child
                    background-color: $table_shopY_color

.table_shopA
    .table
        border: 3px solid $table_shopA_color
        thead
            tr
                background-color: $table_shopA_color
    .month_box
        border: 5px solid $table_shopA_color
        .per_day, .black_day
            border: 1px solid $table_shopA_color
            p
                &:first-child
                    background-color: $table_shopA_color

.table_default
    .table
        border: 3px solid $table_default_color
        thead
            tr
                background-color: $table_default_color

